@media screen and (max-width: 1800px) {
	.options-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 8rem 6rem;
		gap: 3rem;
		justify-content: space-between;
	}

	.options-list {
		display: flex;
		flex-direction: column;
		max-width: 260px;
		text-align: center;
		align-items: center;
	}

	.options-list img {
		height: 100px;
		width: 100px;
		padding: 24px;
		margin-bottom: 2rem;
	}

	.options-list p {
		font-weight: 600;
		font-size: 20px;
	}

	.w-a-h-left-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: row;
		margin-bottom: 4rem;
		padding: 4rem 4rem;
	}

	.w-a-h-left-container h1 {
		font-weight: 400;
		font-size: 30px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-left-container p {
		font-weight: 400;
		font-size: 16px;
		color: #4f4f4f;
	}

	.w-a-h-left-container img {
		height: 30rem;
		width: 40rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-left: 8rem;
		margin-right: 8rem;
		margin-bottom: 4rem;
		align-items: center;
	}

	.w-a-h-right-container-content {
		padding-left: 4rem;
	}

	.w-a-h-right-container img {
		height: 30rem;
		width: 40rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container h1 {
		font-weight: 400;
		font-size: 30px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-right-container p {
		font-weight: 400;
		font-size: 16px;
		color: #4f4f4f;
	}

	/* complains  */

	.info-complaints,
	.info-compliments {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 4rem 0;
		margin-top: 4rem;
	}

	/* compliments  */

	.info-compliments {
		margin-bottom: 8rem;
	}
}

@media screen and (max-width: 1200px) {
	.options-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 6rem 6rem;
		gap: 3rem;
		justify-content: space-between;
	}

	.options-list {
		display: flex;
		flex-direction: column;
		max-width: 260px;
		text-align: center;
		align-items: center;
	}

	.options-list img {
		height: 90px;
		width: 90px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.options-list p {
		font-weight: 600;
		font-size: 18px;
	}

	.w-a-h-left-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: row;
		margin-bottom: 4rem;
		padding: 4rem 4rem;
	}

	.w-a-h-left-container h1 {
		font-weight: 400;
		font-size: 28px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-left-container p {
		font-weight: 400;
		font-size: 16px;
		color: #4f4f4f;
	}

	.w-a-h-left-container img {
		height: 30rem;
		width: 30rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-left: 4rem;
		margin-right: 4rem;
		margin-bottom: 4rem;
		align-items: center;
	}

	.w-a-h-right-container-content {
		padding-left: 4rem;
	}

	.w-a-h-right-container img {
		height: 30rem;
		width: 30rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container h1 {
		font-weight: 400;
		font-size: 28px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-right-container p {
		font-weight: 400;
		font-size: 16px;
		color: #4f4f4f;
	}

	/* complains  */

	.info-complaints,
	.info-compliments {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 4rem 0;
		margin-top: 4rem;
	}

	/* compliments  */

	.info-compliments {
		margin-bottom: 8rem;
	}
}

@media screen and (max-width: 992px) {
	.options-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 6rem 6rem;
		gap: 3rem;
		justify-content: space-between;
	}

	.options-list {
		display: flex;
		flex-direction: column;
		max-width: 200px;
		text-align: center;
		align-items: center;
	}

	.options-list img {
		height: 90px;
		width: 90px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.options-list p {
		font-weight: 600;
		font-size: 16px;
	}

	.w-a-h-left-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: row;
		margin-bottom: 4rem;
		padding: 4rem 4rem;
	}

	.w-a-h-left-container h1 {
		font-weight: 400;
		font-size: 28px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-left-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	.w-a-h-left-container img {
		height: 30rem;
		width: 26rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-left: 4rem;
		margin-right: 4rem;
		margin-bottom: 4rem;
		align-items: center;
	}

	.w-a-h-right-container-content {
		padding-left: 4rem;
	}

	.w-a-h-right-container img {
		height: 30rem;
		width: 26rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container h1 {
		font-weight: 400;
		font-size: 28px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-right-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	/* complains  */

	.info-complaints,
	.info-compliments {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 4rem 0;
		margin-top: 4rem;
	}

	/* compliments  */

	.info-compliments {
		margin-bottom: 8rem;
	}
}

@media screen and (max-width: 768px) {
	.options-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 6rem 6rem;
		gap: 3rem;
		justify-content: space-between;
	}

	.options-list {
		display: flex;
		flex-direction: column;
		max-width: 200px;
		text-align: center;
		align-items: center;
	}

	.options-list img {
		height: 80px;
		width: 80px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.options-list p {
		font-weight: 600;
		font-size: 16px;
	}

	.w-a-h-left-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: row;
		margin-bottom: 4rem;
		padding: 2rem 2rem;
	}

	.w-a-h-left-container h1 {
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-left-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	.w-a-h-left-container img {
		height: 30rem;
		width: 22rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container {
		display: flex;
		flex-direction: row;

		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 4rem;
		align-items: center;
	}

	.w-a-h-right-container-content {
		padding-left: 4rem;
	}

	.w-a-h-right-container img {
		height: 30rem;
		width: 22rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container h1 {
		font-weight: 400;
		font-size: 24px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-right-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	/* complains  */

	.info-complaints,
	.info-compliments {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 4rem 0;
		margin-top: 4rem;
	}

	/* compliments  */

	.info-compliments {
		margin-bottom: 8rem;
	}
}

@media screen and (max-width: 576px) {
	.options-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		align-items: flex-start;
		margin: 6rem 6rem;
		gap: 3rem;
		justify-content: space-between;
	}

	.options-list {
		display: flex;
		flex-direction: column;
		max-width: 150px;
		text-align: center;
		/* align-items: top; */
	}

	.options-list img {
		height: 80px;
		width: 80px;
		padding: 20px;
		margin-bottom: 2rem;
	}

	.options-list p {
		font-weight: 600;
		font-size: 14px;
	}

	.w-a-h-left-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		flex-direction: column;
		margin-bottom: 4rem;
		padding: 2rem 4rem;
	}

	.w-a-h-left-container h1 {
		font-weight: 400;
		font-size: 22px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-left-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	.w-a-h-left-container img {
		height: 16rem;
		width: 22rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container {
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 4rem;
		align-items: center;
	}

	.w-a-h-right-container img {
		height: 16rem;
		width: 22rem;
		object-fit: cover;
		object-position: center;
		border-radius: 10px;
	}

	.w-a-h-right-container h1 {
		font-weight: 400;
		font-size: 22px;
		margin-bottom: 2rem;
		margin-top: 1rem;
	}

	.w-a-h-right-container p {
		font-weight: 400;
		font-size: 14px;
		color: #4f4f4f;
	}

	/* complains  */

	.info-complaints,
	.info-compliments {
		text-align: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 4rem 0;
		margin-top: 4rem;
	}

	/* compliments  */

	.info-compliments {
		margin-bottom: 8rem;
	}
}

.intro-container {
	background-image: url("/images/for-parents-carers.jpg");
	line-height: 1.6 !important;
}

.intro-container {
	min-height: auto;
}

.w-a-h-left-container {
	background-color: #fcf8ed;
}

.w-a-h-friends-family-container {
	background-color: #8f4e51;
	color: white !important;
}

.w-a-h-friends-family-container p {
	color: white !important;
}

.info-complaints {
	background-color: #f9fafb;
}

.options-list-1 {
	background-color: #3ca2c8;
}

.options-list-2 {
	background-color: #ea1953;
}

.options-list-3 {
	background-color: #b3e561;
}

.options-list-4 {
	background-color: #c4b5e0;
}
