<<<<<<< HEAD
.intro-container {
	background-image: url("/images/bg-our-homes.jpg");
	line-height: 1.6 !important;
}

.info-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
	margin-bottom: 8rem;
}

/* homes list  */

/* Container for the Homes List */
.homes-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10rem;
	/* background: #efefef; */
}

.home-card {
	display: flex;
	flex-direction: row;
	padding: 4rem 10rem;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.home-img {
	object-fit: cover;
	width: 30rem;
	height: 20rem;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.home-info {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
}

.home-icon {
	height: 60px;
	padding: 10px;
	background-color: #ffd801;
	margin-right: 1rem;
}

.home-info-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.home-name {
	font-size: 2rem;
	font-weight: 400;
}

.home-district-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	align-items: center;
}

.home-district {
	font-size: 1.5rem;
	font-weight: 400;
	color: rgb(64, 64, 64);
}

.location-icon {
	height: 30px;
	margin-right: 14px;
}

.home-address {
	font-style: italic;
	margin-bottom: 1rem;
}

.home-postal-code {
	margin-bottom: 1rem;
	font-weight: 400;
	color: rgb(64, 64, 64);
}

.home-description {
	font-size: 14px;
	text-align: justify;
}

.statement-of-purpose-btn {
	padding: 14px;
	font-size: 18px;
	font-weight: 400;
	width: 240px;
	border: none;
	background-color: #a66cc1;
	margin-top: 1rem;
	color: white;
}

/* gallery  */
.images-gallery {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	scrollbar-width: 10px;
	scrollbar-color: rgb(167, 166, 166) transparent;
	margin-left: 10rem;
	margin-right: 10rem;
}

.images-gallery img {
	object-fit: cover;
	height: 200px;
}

.images-gallery::-webkit-scrollbar {
	height: thin;
}

.images-gallery::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
}

.images-gallery::-webkit-scrollbar-track {
	background: transparent;
}
=======
.intro-container {
	background-image: url("/images/bg-our-homes.jpg");
	line-height: 1.6 !important;
}

.info-content {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
	margin-bottom: 8rem;
}

/* homes list  */

/* Container for the Homes List */
.homes-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10rem;
	/* background: #efefef; */
}

.home-card {
	display: flex;
	flex-direction: row;
	padding: 4rem 10rem;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.home-img {
	object-fit: cover;
	width: 30rem;
	height: 20rem;
	border-radius: 25px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 5px 5px 15px rgba(0, 0, 0, 0.15);
}

.home-info {
	display: flex;
	flex-direction: row;
	padding-top: 1rem;
}

.home-icon {
	height: 60px;
	padding: 10px;
	background-color: #ffd801;
	margin-right: 1rem;
}

.home-info-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.home-name {
	font-size: 2rem;
	font-weight: 400;
}

.home-district-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	align-items: center;
}

.home-district {
	font-size: 1.5rem;
	font-weight: 400;
	color: rgb(64, 64, 64);
}

.location-icon {
	height: 30px;
	margin-right: 14px;
}

.home-address {
	font-style: italic;
	margin-bottom: 1rem;
}

.home-postal-code {
	margin-bottom: 1rem;
	font-weight: 400;
	color: rgb(64, 64, 64);
}

.home-description {
	font-size: 14px;
	text-align: justify;
}

.statement-of-purpose-btn {
	padding: 14px;
	font-size: 18px;
	font-weight: 400;
	width: 240px;
	border: none;
	background-color: #a66cc1;
	margin-top: 1rem;
	color: white;
}

/* gallery  */
.images-gallery {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	scrollbar-width: 10px;
	scrollbar-color: rgb(167, 166, 166) transparent;
	margin-left: 10rem;
	margin-right: 10rem;
}

.images-gallery img {
	object-fit: cover;
	height: 200px;
}

.images-gallery::-webkit-scrollbar {
	height: thin;
}

.images-gallery::-webkit-scrollbar-thumb {
	background-color: grey;
	border-radius: 10px;
}

.images-gallery::-webkit-scrollbar-track {
	background: transparent;
}
>>>>>>> e51d6b6 (add initial files)
